@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Smooch&display=swap');

@import "base/base";
@import "layout/layout";
@import "components/components";

.splide__pagination__page{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    &.is-active{
        background-color: $primary;
    }
}