.showcase{
    width: 100%;
    height: 100vh;
    background-image: url(/dist/images/showcase-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &__content{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p{
            text-align: center;
            font-size: $font-size-2;
            color: $white;
            span{
                color: $white;
            }
        }
    }
    &__arrow{
        transform: rotate(90deg);
        display: block;
        font-size: 4rem;
        width: 80px;
        text-align: center;
        color: $primary;
        animation-name: arrow;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
    &__beauty{
        font-size: $font-size-7!important;
        text-transform: uppercase;
        letter-spacing: 1rem;
        margin: 10px 0;
    }
}

@keyframes arrow{
    from{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}