.form{
    &__input{
        width: 50%;
        padding: 11px;
        border: none;
        margin-left: 20px;
    }
    &__button{
        box-shadow: none;
        border: 1px solid #CA9646;
        margin-left: -5px;
    }
}